<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jeremymturner.qrz</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0FB9C26A-D400-469E-96AF-3F73BF77E0DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A1812BB-61B3-4CA1-81D8-296BDA7E5145</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E72E8BF2-599B-4E87-B8B4-F84C99AA4740</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7130FE2-F736-4F8A-BCC2-0C9F8E5DF233</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeremy Turner</string>
	<key>description</key>
	<string>QRZ Ham Radio Callsign Lookup</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>QRZ</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C7130FE2-F736-4F8A-BCC2-0C9F8E5DF233</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>116</integer>
				<key>keyword</key>
				<string>call</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Looking up via QRZ</string>
				<key>script</key>
				<string>python3 lookup.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Lookup a callsign</string>
				<key>title</key>
				<string>Callsign Lookup</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E72E8BF2-599B-4E87-B8B4-F84C99AA4740</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>qrzset</string>
				<key>subtext</key>
				<string>qrzset</string>
				<key>text</key>
				<string>qrzset</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0FB9C26A-D400-469E-96AF-3F73BF77E0DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>python3 qrzset.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8A1812BB-61B3-4CA1-81D8-296BDA7E5145</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>v1.0.0 Jeremy Turner &lt;jeremy@jeremymturner.com&gt;

This workflow allows a user to type in the modifier "call" and a space, and start typing an amateur radio callsign in. Within seconds, a QRZ query will return the user's information, allowing you to visit commonly viewed URLs across the different sites for this call sign.</string>
	<key>uidata</key>
	<dict>
		<key>0FB9C26A-D400-469E-96AF-3F73BF77E0DD</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>8A1812BB-61B3-4CA1-81D8-296BDA7E5145</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>C7130FE2-F736-4F8A-BCC2-0C9F8E5DF233</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>E72E8BF2-599B-4E87-B8B4-F84C99AA4740</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/jeremymturner/qrz-alfred-workspace</string>
</dict>
</plist>
